# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.development.local
.env.test.local
.env.production.local
.client_secret_6134706919-0ktpbc4lccip3a2ubhclbcdtm83f7tjh.apps.googleusercontent.com.json
.kinetic-highway-407111-1902cdd0d9b5.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*